#root {
  width: 100vw;
  height: 100vh;
  --system-font: 'Chicago', 'ChicagoFLF', monospace;
  --system-bg: #ffffff;
  --system-text: #000000;
  image-rendering: pixelated;
}

body {
  font-family: var(--system-font);
  background-color: var(--system-bg);
  color: var(--system-text);
  image-rendering: pixelated;
  margin: 0;
}

* {
  image-rendering: pixelated;
}

.screen {
  position: relative;
  border-radius: 1.75%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
  height: 684px;
  width: 1024px;
  cursor: url('./assets/PixCurs.svg'), auto;
}

/* @keyframes flicker {
  0%, 19.999%, 20% { opacity: 1; }
  21%, 21% { opacity: 0.7; }
  23.1%, 100% { opacity: 1; }
}

.screen::after {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  animation: refresh-line 6s linear infinite;
} */

/* @keyframes refresh-line {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
} */

.desktop {
  position: relative;
  width: 1024px;
  height: 684px;
  background-color: white;
  background-image:
    linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(-45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(-45deg, transparent 75%, #000 75%);
  background-size: 6px 6px;
  background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
  image-rendering: pixelated;
}

.menu-bar {
  position: absolute;
  z-index: 1000100;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-item {
  height: 23px;
  width: 100%;
  top: 1px;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.menu-text {
  padding-left: 4px;
}

.desktop-icons {
  left: 85%;
  position: absolute;
}

.window .icon, .desktop .icon {
  position: absolute;
}

.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.icon svg {
  width: 64px; /* Adjust to your preferred width */
  height: auto; 
}

.icon span {
  padding: 0 5px;
  text-align: center;
  color: var(--secondary);
  background-color: white;
  font-family: Chicago_12;
  font-weight: 50;
  font-size: 24px;
}

.window {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 2px 2px #000;
}

.window-pane {
  font-family: Geneva_9;
  font-size: 24px;
  height: 100%;
}

.desktop-background {
  /* Style for desktop background */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Ensure it's behind everything else */
}



/* @media (hover: hover) and (pointer: fine) {
  .menu-item a:hover {
    background-color: black;
    color: white;
  }
} */

.menu-bar, .menu-bar * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Initial state: dropdown menus are hidden */
ul[role="menu"] {
  display: none;
  position: absolute; /* Position it below the menu item */
  min-width: 175px;
}

li[role="menu-item"] {
  margin: 0 0;
  padding: 0 0;
  
  width: 100%;
  text-wrap: nowrap;
  z-index: 10000;
}

/* When a menu item is hovered or focused, display the dropdown */
li[role="menu-item"]:hover > ul[role="menu"],
li[role="menu-item"]:focus-within > ul[role="menu"] {
  display: block;
  
}

.apple {
  margin-right: 0;
  padding: 0 5px;
  position: relative;
  left: 6px;
}

.menu-item > ul {
  display: block;
}

.menu-item:hover > .apple {
  filter: invert(100%);
}

.menu-item > ul.open {
  display: block;
}

ul [role=menu-item].divider:after {
  padding: 7px 0;
  margin-bottom: 17px;
  border-top: none;
  border-bottom: 2px dotted #000;
}

.details-bar {
  font-family: Chicago;
  font-size: 15px;
  font-weight: 100;
}



.macintosh-startup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.happy-mac {
  /* Start with the Happy Mac icon being transparent to simulate the monitor warming up */
  opacity: 0;
  animation: fadeIn 2s forwards, shake 0.5s 2s infinite;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(2px); }
}

.power-button {
  background-color: #333; /* Dark gray, similar to the Macintosh 128k case */
  color: #fff; /* White text */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace; /* Gives it a bit retro feel */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px #999; /* Simulates the button being raised */
  transition: all 0.3s ease;
}

.power-button:hover {
  background-color: #555; /* Lightens the button on hover */
}

.power-button:active {
  background-color: #555;
  box-shadow: 0 2px #666; /* Adjusts the shadow to look like the button is pressed */
  transform: translateY(2px);
}

.icon.selected {
  filter: invert(100%);
}

.dotted-outline {
  border: 2px dashed black;
  width: 73px;
  height: 60px;
  background: rgba(255, 255, 255, 0.0);
}

.resize {
  width: 100%;
  height: 100%;
}

.window {
  overflow: visible;
}

.window.active .title-bar {
  background-color: #000;
  color: #fff;
}

.window.inactive .title-bar {
  background-color: #ccc;
  color: #000;
}

.title-bar {
  text-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  align-self: center;
}

.title-bar .title { 
  font-size: 30px;
  font-weight: 100;
}

.close-wrapper {
  background-color: white;
  width: 26px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  min-width: 40px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.html-wrapper-custom,
.html-wrapper-custom > div,
.html-content {
  pointer-events: auto !important;
}

.alert-box .inner-border {
  height: calc(100% - 6px);
}

.alert-text {
  font-family: Chicago_12;
}



